extends ../layout/index 
block content 
 div.py-10 
    h1.text-center.text-4xl.font-extrabold.my-10.text-rose-red User Created 
        span.font-normal.text-caput-mortuum Successfully
    h2.text-center.text-3xl.font-extrabold.text-old-gold= page

    .mt-8.mx-auto.max-w-md 
        .bg-rose-red.py-8.px-4.shadow
        p.text-navajo-white Please check your email inbox
