extends ../layout/index

block content
  head
    title Usuario Creado
    link(rel='stylesheet', href='https://unpkg.com/tailwindcss@2.2.19/lib/index.css')
  body(class='bg-navajo-white')
    div(class='container mx-auto py-10')
      h1(class='text-3xl font-bold text-rose-red mb-4') Usuario Creado con Éxito
      p(class='text-raw-umber') El usuario ha sido creado exitosamente.
      a(href='/' class='text-old-gold mt-4 block') Volver a la página principal
